<div class="center">
	<h2>Choose Your Provider</h2>
	<p><%= link_to image_tag("sign-in-with-facebook.png", :border=>0, :width => 200), "/auth/facebook" %></p>
	<p><%= link_to image_tag("sign-in-with-twitter.png", :border=>0, :width => 200), "/auth/twitter" %></p>
	<p><%= link_to image_tag("sign-in-with-linkedin.png", :border=>0, :width => 200), "/auth/linked_in" %></p>
</div>
