
body {
  line-height: 1;
  font-size: 1em;
  background: #340505 url(/images/header-background.png) repeat-x;
  font-family: Arial, Helvetica, sans-serif;
}

.clear { clear: both;}

a,
a:hover,
a:active,
a:visited {
	color: #9E8686;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
#container {
	width: 1000px;
	margin: 0 auto;
	padding: 5px;
}

#wrapper {
	margin-top: 30px;
  padding: 20px 80px;
  background: #ebe3d1;
  border: 5px solid #cbc2ae;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

input[type="text"] {
  background: #d2c8b2;
  border: none;
  padding: 15px;
  font-size: 48px;
  -moz-box-shadow: inset 0 3px 3px #706751;
  -webkit-box-shadow: inset 0 3px 3px #706751;
  box-shadow: inset 0 3px 3px #706751;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  color: #453000;
  border-bottom: 2px solid #fff8e8;
  margin: 5px 0 0 0;
  font-family: Helvetica, Arial, sans-serif;
}

label {
  font-size: 24px;
}

input[type='submit'] {
  margin-top: 10px;
/*  display: block;*/
  padding: 15px;
  background: #c40000;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0 -1px 1px #250300;
  border: 0;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  -moz-box-shadow: inset 0 1px 1px #f34217, 0 1px 1px #332300;
  -webkit-box-shadow: inset 0 1px 1px #f34217, 0 1px 1px #332300;
  box-shadow: inset 0 1px 1px #f34217, 0 1px 1px #332300;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #a1100a;
  background-image: -moz-linear-gradient(bottom, #690900 0%, #8f0e00 49%,  #a41200 50%, #cf1900 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(1, #690900),color-stop(.5, #8f0e00),color-stop(.49, #a41200),color-stop(0, #cf1900));
}

input[type='submit']:hover {
  background-image: -moz-linear-gradient(bottom, #690900 0%, #8f0e00 49%,  #a41200 50%, #f00 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(1, #690900),color-stop(.5, #8f0e00),color-stop(.49, #a41200),color-stop(0, #f00));
}

red {
	color: red;
}

red a,
red a:hover,
red a:active,
red a:visited {
	color: red;
}


/* Header */
#search {
	float: right;
	line-height: 50px;
}
#search input[type="text"] {
  padding: 5px;
  font-size: 10px;
}

#search input[type='submit'] {
  padding: 5px;
  font-size: 10px;
}
#header {
	display: block;
	min-height: 100px;
	color: #9E8686;
	padding-right: 120px;
}
#title {
	float: left;
	min-height: 100px;
}

#title h1 a {
	background: url(/images/deprecateme-logo.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: block;
	height: 100px;
	text-decoration: none;
	text-indent: -9999px;
	width: 300px;
}

#title h1 { margin: 0;}

#left-header {
	float: right;
	min-height: 100px;
	line-height: 100px;
	padding-top: 20px;
	padding-right: 20px;
}

#user-status {
	font-size: 1em;
	line-height: 25px;
}
/* End Header */

#footer {
	color: #9E8686;
	text-align: center;
	padding: 30px;
}

.deprecate-me {
	float: right;
	position: absolute;
	right: 100px;
	top: 150px;
	width: 460px;
	z-index: 1000;
}

.gem-info {
	width: 500px;
	float: left;
	position:relative;
}
#gem {
	clear: both;
	width: 900px;
}

/* Flash Messages */
#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px auto;
  width: 70%;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}
/* End Flash Messages */